body {
    background-color: rgb(233, 215, 207);
    margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px; /* Half of width and height - will look like a circle */
  /* How to centre an image */
  /* You need to do - text align centre in the parent element*/
}

.image {
  text-align: center;
}

h1 {
  /* sans-serif is the fallback font */
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: brown;
}

p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: rgb(83, 75, 75);
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none; /* this removes the underline */
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96, 83);
}
