
img {
  width: 200px;
  height: 200px;
  border: 4px solid rgb(44, 44, 44);
  border-radius: 100px; /* Half of width and height - will look like a circle */
  margin-top: -80px;
  /* How to centre an image */
  /* You need to do - text align centre in the parent element*/
}

h1 {
  font-size: 30px;
  color: rgb(31, 25, 25);
}

span {
  color: rgb(66, 2, 2);
}

main {
  border: 4px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  width: 600px;
  background-color: rgb(219, 108, 94);
  margin: 200px auto 72px auto;
  padding: 24px;
}

#todays-challenge {
  color: rgb(75, 59, 59 );
  font-size: 36px;
  font-weight: 600;
}

a {
  color: rgb(73, 29, 50);
}
