body {
  background-color: rgb(233, 215, 207);
  text-align: center;
  margin: 50px;
}

h1 {
  /* sans-serif is the fallback font */
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: brown;
}

p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: rgb(83, 75, 75);
  font-size: 20px;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none; /* this removes the underline */
  font-family: "Fira Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}
